{% extends 'main.html' %}
{% load static %}

{% block staticf %}
<link rel="stylesheet" type="text/css" href="{% static 'style-home.css' %}" media="all">
{% endblock  %}

{% block content %}


<div class="head">
	<div class="head-title">
		<div class="head-title-text">Письма, открытки, пожелания. Поделитесь эмоциями и идеями c человеком через нас.</div>
		<div class="head-add-text">Через наш сайт вы можете отправить письмо любому человеку по электронной почте.</div>
		<a href="{% url 'letter:list' %}" class="title-start">Начать</a>
	</div>
	<img src="https://cdn-icons-png.flaticon.com/512/2344/2344590.png" alt="" class="head-img">
</div>





<div class="main">

	<div class="main-title-text">Мы поможем вам разобраться!</div>

	<div class="form_1">
		<img src="https://png.pngtree.com/png-vector/20220519/ourmid/pngtree-envelope-writing-icon-color-flat-png-image_4702779.png" alt="">
		<div class="form_1-title-text">Зайдите на страницу для отправки письма.</div>
		<div class="form_1-add-text">Найдите вкладку "Mail" на шапке страницы или просто нажмите на кнопку ниже.</div>
		<a href="{% url 'letter:list' %}" class="main-start">Начать</a>
	</div>

	<div class="form_2">
		<img src="https://png.pngtree.com/png-vector/20220520/ourmid/pngtree-document-writing-icon-color-flat-png-image_4702639.png" alt="">
		<div class="form_2-title-text">Настройте содержимое и вид письма.</div>
		<div class="form_2-add-text">Напишите заглавление и пожелание в письме. Потом выберите открытку, чтобы письмо было красивее.</div>
	</div>

	<div class="form_3">
		<img src="https://cdn-icons-png.flaticon.com/512/3893/3893166.png" alt="">
		<div class="form_3-title-text">Отправьте письмо.</div>
		<div class="form_3-add-text">Не забудьте ввести электронную почту получателя!</div>
	</div>
</div>





<div class="daeh">


{% endblock %}
